* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'MuseoModerno', cursive;
}
ul, li {
  list-style: none;
}

.hidden {
  display: none;
}

main {
  padding-top: 10vh;
  min-height: 100vh;
  position: relative;
  &::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-image: url(../assets/background.jpg);
  background-size: contain;
  background-repeat: repeat;
  filter: brightness(20%);
  }
}

.header {
  width: 70vw;
  margin: auto;
  margin-bottom: 20px;
  color: #fee133;
  &__wrapper {
    margin-left: auto;
    display: flex;
    .search-wrapper {
      width: 10vw;
      place-self: end;
      margin-left: auto;
      .search-field {
        width: 100%;
      }
    }
  }
}