.info {
  position: fixed;
  width: 40vw;
  padding: 10px;
  border: 1px solid #fee133;
  color: #fee133;
  border-radius: 5px;
  top: 25vh;
  left: 30vw;
  background: #000;
  z-index: 5;
  max-height: 50vh;
  min-height: 200px;
  h3 {
   font-size: 2em;
  }
  ul {
    margin-top: 2em;
  }
  .close-btn {
    width: 50px;
    margin-right: auto;
    position: absolute;
    right: 10px;  
  }
}