.info {
  position: fixed;
  width: 80vw;
  padding: 10px;
  border: 1px solid #fee133;
  color: #fee133;
  border-radius: 5px;
  top: 25vh;
  left: 10vw;
  background: #000;
  z-index: 5;
  max-height: 50vh;
  min-height: 230px;
  @media(min-width: 540px){
    // min-width: 415px;
    width: 40vw;
    left: 30vw;
  }
  h3 {
   font-size: 1.3em;
   @media(min-width: 1015px){
    font-size: 2em;
  }
  }
  ul {
    margin-top: 2em;
  }
  .close-btn {
    display: block;
    width: 50px;
    margin-left: auto;
  }
}